.loading-section {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #05377b;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  h1 {
    color: #f5f5f5;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    z-index: 1;
  }
  .mars {
    width: 250px;
    position: relative;
    height: 250px;
    background: #ef6b50;
    border-radius: 50%;
    box-shadow: inset 20px 0 0 10px #e2573b;
    .first-eye {
      width: 30px;
      height: 30px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 40%;
      left: 30%;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 70%;
        transform: translate(-50%, -50%);
      }
    }
    .second-eye {
      width: 30px;
      height: 30px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 40%;
      left: 70%;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 70%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .orbit {
    animation: turn-around-mars 3s infinite linear;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
    border-left: 5px solid orange;
    width: 350px;
    height: 350px;
    .rocket {
      width: 50px;
      height: 50px;
      margin-left: 55px;
      transform: rotate(10deg);
    }
  }
}

@keyframes turn-around-mars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
