button.login-logout {
  display: flex;
  gap: 1rem;
  color: white;
  border-radius: 8px;
  font-family: 'Heebo';
  text-transform: none;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  align-self: center;
  font-weight: bold;
  box-shadow: rgba(114, 61, 61, 0.25) 0px 13px 27px -5px, 
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button.login-button {
  background-color: $primary-color;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #3779e2;
    color: white;
  }
  .google-icon-div {
    font-size: 1.5rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
  }
}

button.logout-button {
  background-color: $red;
  transition: all 0.2s ease-in-out;
  gap: 0.5rem;
  &:hover {
    background-color: #c53c24;
    color: white;
  }
  .exit-icon-div {
    font-size: 1.5rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
