.login-logout {
  display: flex;
  gap: 1rem;
  color: white !important;
  border-radius: 8px !important;
  font-family: 'Heebo' !important;
  text-transform: none !important;
  font-size: 1.2rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem !important;
  align-self: center;
  font-weight: bold;
  box-shadow: rgba(114, 61, 61, 0.25) 0px 13px 27px -5px, 
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
}

.login-button {
  background-color: $primary-color !important;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #3779e2 !important;
    color: white;
  }
  .google-icon-div {
    font-size: 1.5rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
  }
}

.logout-button {
  background-color: $red !important;
  transition: all 0.2s ease-in-out;
  gap: 0.5rem !important;
  &:hover {
    background-color: #c53c24 !important;
    color: white;
  }
  .exit-icon-div {
    font-size: 1.5rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
