button.mui-menu {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  min-width: auto;
  max-width: 2.5rem;
  padding: 0.4rem 0.3rem;

  .square {
    background-color: #666666;
    height: 7px;
    width: 7px;
  }

  &:hover {
    background-color: white;
    color: #666666;
  }
}

