.text-field {
  align-items: center;
  background-color: $secondary-color;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: text;
  display: flex;
  height: 39.5vh;
  justify-content: center;
  position: relative;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  width: 100%;

  &:before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    bottom: 0px;
    content: " ";
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &:after {
    border-bottom: 2px solid $purple;
    bottom: 0px;
    content: "";
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  &:focus-within {

    &:after {
      transform: scaleX(1);
    }

    .label-text {
      transform: translate(14px, 7px) scale(0.75);
      color: $purple;
    }
  }

  &:hover {

    &:before {
      border-bottom: 1px solid rgba(0, 0, 0, 0.726);
    }
  }

  .label-text {
    backdrop-filter: blur(1px);
    color: rgba(0, 0, 0, 0.521);
    display: block;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.00938em;
    line-height: 1.4375em;
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    max-width: calc(100% - 24px);
    padding: 0px;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform-origin: left top;
    transform: translate(12px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    white-space: nowrap;
    z-index: 1;
  }

  .label-text.focus {
    transform: translate(14px, 7px) scale(0.75);
  }
}

[contentEditable="true"] {
  background-color: transparent;
  color: #1c4637;
  font-family: 'Heebo', sans-serif;
  height: 80%;
  overflow: auto;
  padding: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  white-space: pre-wrap;
  width: 80vh;
  word-wrap: break-word;

  a {
    color: $purple !important;
  }

  * {
    align-items: flex-start !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #1c4637 !important;
    font-family: 'Heebo', sans-serif;
    height: auto !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: auto !important;
  }

  img, button, svg, .c-emoji {
    display: none !important; 
  }

  &:focus {
    outline: none;
  }

  &:before {
    color: #00000067;
    content: attr(data-text);
    opacity: 0;
    position: absolute;
    transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  &:empty:focus:before {
    opacity: 100;
  }

  &::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $purple; 
    border-radius: 10px;
  }
}
