@import '../../styles/vars.scss';
@import '../../styles/globals.scss';

.app__flex {
  flex-direction: column;
}

.login__box {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: $white-color;
  box-shadow: 0 0 0.5rem rgba(94, 94, 94, 1);

  width: 300px;

  .login__head {
    padding: 0;
    margin: 0;
    color: $primary-color;
  }

  .p-text {
    width: 90%;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2rem;

    .bold-text {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
}

.login__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  
  img {
    width: 60px;
  }

  h1 {
    margin-left: 1rem;
    color: $white-color;
  }
}
