REACT_APP_KEYS = [{ "id": 1, "clientId": "75007700472-2efgse6cf4ciqp6ct51fq2qldup1h13.apps.googleusercontent.com", "apiKey": "AIzaSyB58DqoXxXTwBJwTgV7qfLOzk6X4x-HxM"}, { "id": 2, "clientId": "387216744580-6bqghiu920e1fdv03dq2shfi5qv4h1ig.apps.gogleusercontent.com", "apiKey": "AIzaSyAVkAcCzRTQxjLu07BLgTBvLcgmQl4urY" }]
