REACT_APP_KEYS = [{ "id": 1, "clientId": "750027dasdasdasapps.googleusercontent.com", "apiKey": "AIzaSyB58DqoLXxXTwBJwTgV7qfLOzk6X4x-HxM"}, { "id": 2, "clientId": "75dsadsadaq2qldup1h13.apps.googleusercontent.com", "apiKey": "AIzdsadasdLOzk6X4x-HxM" }]
