* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #304F8C;
  display: flex;
  flex-flow: column nowrap;
  font: 16px Roboto, sans-serif;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.schedule-container {
  background: #59B5D9;
  width: 40%;
}

.textarea-schedule {
  resize: none;
}
