@import '../../styles/vars.scss';
@import '../../styles/globals.scss';

.color-picker {
  background-color: #33b679;
  border-radius: 100%;
  padding: 0.8rem;
}

.color-picker-button {
  border-radius: 8px !important;
  box-shadow: rgba(61, 61, 114, 0.25) 0px 13px 27px -5px;
  display: flex;
  gap: 0.5rem;
  height: 100%;
  padding: 0.6rem !important;

  svg {
    font-size: 1.4rem;
  }
}

.color-picker-menu-item {
  gap: 0.5rem;
}
