$primary-color: #4285F4;

.add-event-button {
  background-color: $primary-color !important;
  color: white !important;
  font-family: 'Heebo' !important;
  text-transform: none !important;
  border-radius: 8px !important;
}