$secondary-color: #84dfbe;


.home-page {
  display: flex;
  position: relative;
  a {
    .github-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      margin: 1rem;
      color: black;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #9A33AF;
      }
    }
  }
  .aside-content {
    background: $secondary-color;
    display: flex;
    align-items: center;
    padding-left: 6.5rem;
    height: 100vh;
    section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h1 {
        font-size: 2rem;
        font-family: 'Heebo';
        margin: 0;
        color: white;
        span {
          color: #9A33AF;
        }
      }
      .logo {
        width: 60%;
        height: 100%;
        user-select: none;
      }
    }
  }
  .main-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    .user-profile {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
    }
    .wavy {
      position: absolute;
      left: -5px;
      top: 0;
      height: 100%;
      fill: green;
      user-select: none;
      // https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
      filter: invert(90%) sepia(11%) saturate(1264%) hue-rotate(97deg) brightness(93%) contrast(88%);
    }
    .schedule-content {
      display: flex;
      width: 60%;
      flex-direction: column;
      justify-self: center;
      padding: 0 2rem;
      gap: 1.5rem;
      h1 {
        font-size: 2rem;
        font-family: 'Heebo', sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: wavy;
        margin: 0 !important;
      }
    }
  }
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: 930px) {
  .home-page {
    width: 100%;
    height: 100vh;
    .aside-content {
      display: none;
    }
    .main-content {
      width: 100%;
      .schedule-content {
        width: 90%;
      }
      .wavy {
        display: none;
      }
    }
  }
}