.input-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 2rem);
  padding: 1rem 2rem;
  justify-content: space-evenly;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}