$secondary-color: #84dfbe;


.home-page {
  display: flex;
  position: relative;

  a {
    .github-icon {
      border-radius: 50%;
      color: black;
      height: 40px;
      margin: 1rem;
      position: absolute;
      transition: all 0.2s ease-in-out;
      width: 40px;

      &:hover {
        color: #9A33AF;
      }
    }
  }
  .aside-content {
    align-items: center;
    background: $secondary-color;
    display: flex;
    height: 100vh;
    padding-left: 6.5rem;

    section {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        color: white;
        font-family: 'Heebo';
        font-size: 2rem;
        margin: 0;
        span {
          color: #9A33AF;
        }
      }

      .logo {
        height: 100%;
        user-select: none;
        width: 60%;
      }
    }
  }

  .main-content {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    .privacy-and-terms {
      bottom: 1.2rem;
      display: flex;
      font-family: 'Heebo';
      font-size: 0.9rem;
      gap: 0.5rem;
      position: absolute;

      a {
        color: #9A33AF;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          font-weight: bold;
        }
      }
    }

    .user-profile {
      position: absolute;
      right: 1.5rem;
      top: 1rem;
    }

    .wavy {
      fill: green;
      // https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
      filter: invert(90%) sepia(11%) saturate(1264%) hue-rotate(97deg) brightness(93%) contrast(88%);
      height: 100%;
      left: -5px;
      position: absolute;
      top: 0;
      user-select: none;
    }

    .schedule-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-self: center;
      padding: 0 2rem;
      width: 60%;

      h1 {
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        text-align: center;
        text-decoration: wavy;
      }
    }
  }
}

.input-group {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.textarea-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 930px) {
  .home-page {
    height: 100vh;
    width: 100%;

    .aside-content {
      display: none;
    }

    .main-content {
      width: 100%;

      .schedule-content {
        width: 90%;
      }

      .wavy {
        display: none;
      }
    }
  }
}