@import 'globals';
@import 'vars';

//pages

@import 'pages/Home';

//components

@import 'components/Loading';
@import 'components/AddEventButton';
@import 'components/LoginButton';
@import 'components/Menu';
@import 'components/SelectColors';
@import 'components/SelectTime';
@import 'components/TextArea';
