.color-picker {
  background-color: #33b679;
  padding: 0.7rem;
  border-radius: 100%;
}

.color-picker-button {
  gap: 0.5rem;
  display: flex;
  height: 100%;
}

.color-picker-menu-item {
  gap: 0.5rem;
}