$secondary-color: #86e0bf;
$primary-purple: #9A33AF;
$primary-color: #4285F4;

.text-field {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  width: 100%; 
  height: 39.5vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  cursor: text;
  &:before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
  }
  &:after {
    border-bottom: 2px solid $primary-purple;
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
  }
  &:focus-within {
    &:after {
      transform: scaleX(1);
    }
    .label-text {
      transform: translate(14px, 7px) scale(0.75);
      color: $primary-purple;
    }
  }
  &:hover {
    &:before {
      border-bottom: 1px solid rgba(0, 0, 0, 0.726);
    }
  }
  .label-text {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    max-width: calc(100% - 24px);
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.521);
    padding: 0px;
    display: block;
    white-space: nowrap;
    transform: translate(12px, 16px) scale(1);
    transform-origin: left top;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
    z-index: 1;
  }
  .label-text.focus {
    transform: translate(14px, 7px) scale(0.75);
  }
}

[contentEditable="true"] {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  height: 80%;
  background-color: transparent;
  position: relative;
  color: #1c4637;
  font-family: 'Heebo', sans-serif;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  a {
    color: $primary-purple !important;
  }
  * {
    margin: 0;
    color: #1c4637 !important;
    font-family: 'Heebo', sans-serif;
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  img, button, svg {
    display: none !important; 
  }
  &:focus {
    outline: none;
  }
  &:before {
    content: attr(data-text);
    position: absolute;
    color: #00000067;
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  &:empty:focus:before {
    opacity: 100;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  
  &::-webkit-scrollbar-thumb {
    background:$primary-purple; 
    border-radius: 10px;
  }
}
