$secondary-color: #86e0bf;
$background-color: #DDFFF3;
$main-purple: #9A33AF;

.textarea-container {
  width: 100% !important;
  box-shadow: rgba(61, 61, 114, 0.25) 0px 13px 27px -5px;
}

.MuiFilledInput-root {
  background-color: transparent !important;
}

.MuiFormControl-root {
  background-color: $secondary-color;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}