$font-base: "DM Sans", sans-serif;
$primary-color: #4285F4;
$secondary-color: #84dfbe;
$background-color: #DDFFF3;
$mars-color: #ef6b50;

$purple: #9A33AF;
$red: #d4472f;
$black-color: #030303;
$light-black-color: #24292f;
$medium-black-color: #161b22;
$high-black-color: #0d1117;
$lightGray-color: #e4e4e4;
$gray-color: #886b6b;
$brown-color: #46364a;
$white-color: #ffffff;
$white-black: #8a8d91;