$font-base: "DM Sans", sans-serif;

// Nossa Paleta
$primary-color: #4285F4;
$secondary-color: #84dfbe;
$background-color: #DDFFF3;
$mars-color: #ef6b50;

// Cores aleatórias
$purple: #9A33AF;
$red: #d4472f;
$gray-color: #886b6b;
$brown-color: #46364a;

$black-color: #030303;

// GitHub
$white-color: #ffffff;
$white-black: #8b949e;

$light-black-color: #24292f;
$medium-black-color: #161b22;
$high-black-color: #0d1117;

$lightGray-color: #e4e4e4;
$border-color: #363b42;