@import '../../styles/vars.scss';
@import '../../styles/globals.scss';

button.login-logout {
  align-self: center;
  border-radius: 8px;
  box-shadow: rgba(114, 61, 61, 0.25) 0px 13px 27px -5px, 
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  display: flex;
  font-family: 'Heebo';
  font-weight: bold;
  gap: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  text-transform: none;
}

button.login-button {
  background-color: $primary-color;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #3779e2;
    color: white;
  }

  .google-icon-div {
    align-items: center;
    background-color: white;
    border-radius: 8px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0.2rem;
  }
}

button.logout-button {
  background-color: $red;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #c53c24;
    color: white;
  }

  .exit-icon-div {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0.2rem;
  }
}
