@import '../../styles/vars.scss';
@import '../../styles/globals.scss';

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: $medium-black-color;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid $border-color;

  z-index: 100;

  min-height: 52px;

  .login__logo-header {
    flex-direction: row;
    cursor: pointer;

    img {
      width: 40px;
    }
  
    h1 {
      font-size: 1.2rem;
      margin-left: 1rem;
      color: $white-color;
    }

    @media screen and (max-width: 400px) {
      h1 {
        font-size: 1rem;
        margin-left: 1rem;
        color: $white-color;
      }
    }
  }

  .login__user-info {
    flex-direction: row;
    border: 3px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      border: 3px solid rgba(48, 55, 64, 0.6);
      border-radius: 5px;
    }

    .login__user-logged {
      flex-direction: row;
      padding: 8px 12px;
    }

    .login__user-logout {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;

      h4 {
        margin: 0;
        margin-top: -3px;
        font-size: 1.2rem;
        font-weight: 500;
        color: $white-color;
        margin-right: 1rem;
      }

      .icon {
        font-size: 1.2rem;
        color: $white-color;
      }
    }

    .login__user-info-google {
      align-items: flex-end;
      text-align: end;
      padding: 0;
      margin: 0;
      padding-bottom: 3px;

      h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: $white-color;
        margin-right: 1rem;
      }

      h5 {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: $white-black;
        margin-right: 1rem;
      }

      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}