@import '../../styles/vars.scss';
@import '../../styles/globals.scss';

.loading-section {
  align-items: center;
  background-color: #05377b;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: fixed;
  width: 100%;

  h1 {
    color: #f5f5f5;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    z-index: 1;
  }

  .mars {
    background: #ef6b50;
    border-radius: 50%;
    box-shadow: inset 20px 0 0 10px #e2573b;
    height: 250px;
    position: relative;
    width: 250px;

    .first-eye {
      background-color: black;
      border-radius: 50%;
      height: 30px;
      left: 30%;
      position: absolute;
      top: 40%;
      width: 30px;

      &:after {
        background-color: white;
        border-radius: 50%;
        content: '';
        height: 10px;
        left: 70%;
        position: absolute;
        top: 10px;
        transform: translate(-50%, -50%);
        width: 10px;
      }
    }

    .second-eye {
      background-color: black;
      border-radius: 50%;
      height: 30px;
      left: 70%;
      position: absolute;
      top: 40%;
      width: 30px;

      &:after {
        background-color: white;
        border-radius: 50%;
        content: '';
        height: 10px;
        left: 70%;
        position: absolute;
        top: 10px;
        transform: translate(-50%, -50%);
        width: 10px;
      }
    }
  }

  .orbit {
    animation: turn-around-mars 3s infinite linear;
    border-left: 5px solid orange;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
    height: 350px;
    position: absolute;
    width: 350px;

    .rocket {
      height: 50px;
      margin-left: 55px;
      transform: rotate(10deg);
      width: 50px;
    }
  }
}

@keyframes turn-around-mars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
